* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.about {
  min-height: 100vh;
  background: linear-gradient(135deg, #000000, #000000);
  display: flex;
  align-items: center;
  padding: 60px 10%;
}

.about-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}

.about-text h1 {
  font-size: 42px;
  color: #ffffff;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 20px;
}

.about-text p {
  font-size: 16px;
  line-height: 1.7;
  color: #ffffff;
  margin-bottom: 16px;
}


.bt11 {
  background-color:rgb(5, 184, 124);
  color: #ffffff;
  margin-top: 20px;
  padding: 12px 26px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.bt11:hover {
  background-color: antiquewhite;
  color: #333;
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.about-img img {
  width: 100%;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}


@media (max-width: 900px) {
  .about-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .about-img {
    order: -3;
  }
}
@media (max-width:400px) {
.about-img img {
  width: 100%;
  border-radius: 16px;
  padding-top: 50px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}   
}
